<% if (success && success.length > 0) { %>
    <div id="success-alert" class="bg-green-100 my-5  w-1/2 mx-auto text-green-700  py-3 px-4 rounded-md relative mb-4" role="alert">
        <span class="block sm:inline"><%= success %></span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3" onclick="closeAlert()">
            <svg class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <title>Close</title>
                <path d="M14.348 14.849a1 1 0 01-1.414 0L10 11.414l-2.934 2.935a1 1 0 01-1.414-1.414L8.586 10 5.652 7.066a1 1 0 011.414-1.414L10 8.586l2.934-2.935a1 1 0 011.414 1.414L11.414 10l2.935 2.934a1 1 0 010 1.415z"/>
            </svg>
        </span>
    </div>
<% } %>

<% if (error && error.length > 0) { %>
    <div id="success-alert" class="bg-red-100 my-5  w-1/2 mx-auto text-red-700  py-3 px-4 rounded-md relative mb-4" role="alert">
        <span class="block sm:inline"><%= error %></span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3" onclick="closeAlert()">
            <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <title>Close</title>
                <path d="M14.348 14.849a1 1 0 01-1.414 0L10 11.414l-2.934 2.935a1 1 0 01-1.414-1.414L8.586 10 5.652 7.066a1 1 0 011.414-1.414L10 8.586l2.934-2.935a1 1 0 011.414 1.414L11.414 10l2.935 2.934a1 1 0 010 1.415z"/>
            </svg>
        </span>
    </div>
<% } %>

<script>
    function closeAlert() {
        document.getElementById('success-alert').style.display = 'none';
    }
</script>